<div class="array-visualization">

  <!-- Input Array Section -->
  <h2 class="input">Input Array</h2>
  <div class="input-array">
    <div *ngFor="let number of inputArray;" id="input-container" class="number-box visualization-container">
      <div class="number">{{ number }}</div>
    </div>
  </div>

  <!-- Heap Array Visualization -->
  <h2 class="heap">Heap Visualization</h2>
  <div id="heap-container" class="visualization-container">
    <!-- D3.js will render the heap here -->
  </div>

  <!-- Sorted Array Section -->
  <h2 class="sort">Sorted Array</h2>
  <!-- Sorted Array Visualization -->
  <div id="sorted-container" class="visualization-container">
    <!-- D3.js will render the sorted array here -->
  </div>

</div>
