.array-visualization {
    margin: 20px;
  }
  
  .input-array, .sorted-array {
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }
  
  .number-box {
    width: 40px;
    height: 40px;
    background-color: white;
    margin: 5px;
    text-align: center;
    line-height: 40px;
    position: relative;
    border-radius: 5px;
    border: .5px solid;
    transition: all 0.5s ease; /* Smooth transition for animations */
  }
  
  h2{
    text-align: center;
  }
  
  .array-visualization{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }